{% extends "base.html" %}

{% block body %}
    <h4>
    Hệ thống chấm bài lập trình tự động của trường THPT chuyên Nguyễn Bỉnh Khiêm được phát triển bởi đội ngũ <b><a href="https://github.com/LQDJudge">LQDJudge</a></b> và <b><a href="https://github.com/itnbk">ITNBK</a></b>. Các ý kiến thắc mắc và góp ý xin liên hệ:
        <ul>
            <li>Tổ Tin học: Thầy Nguyễn Văn Như (<span class="rating admin"><a href="/user/KANGURU">KANGURU</a></span>).</li>
            <li>Ban kỹ thuật: Đoàn Nguyễn Thành Lương (<span class="rating caiwindao"><a href="/user/CaiWinDao">CaiWinDao</a></span>, <a target="_blank" href="https://www.facebook.com/DoanNguyenThanhLuong/">Facebook</a>).</li>
            <li>Chủ nhiệm CLB Lập trình: Nguyễn Hoàng Hải (<span class="rating admin"><a href="/user/__BruteForce__">__BruteForce__</a></span>, <a target="_blank" href="https://www.facebook.com/hoanghai123098">Facebook</a>)
        </ul>
    </h4> 
{% endblock %}